@import "../mixins/custom-scrollbar";
@import "../new/variables-new";

.dark {
  .aside {
    &__main-content {
      @include customScrollDark();
      background-color: $aside-bg-dark;
    }
  }
}

.aside-body {
  padding-left: $aside-width;
  margin: 0 1.5em;

  &-full-width {
    padding-left: 0;
  }
}

.aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: $aside-width;
  background-color: $aside-bg;
}
